.header-container {
  height: 70px;
}

.tabs-container > li {
  cursor: pointer;
}

.tabs-container > li > img {
  width: 30px !important;
}

.offcanvas {
  max-width: 70% !important;
}

.active {
  display: inline-block !important;
  color: blueviolet !important;
  border-bottom: 3px solid blueviolet !important;
  font-weight: bold !important;
}
